<p *ngIf="isLoading">Loading...</p>

<div class="login-wrapper" *ngIf="!isLoading">
    <mat-card class="login-card">
        <mat-tab-group>
            <mat-tab label="Login">
                <form class="login-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your username" [(ngModel)]="username"  name="username" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" type="password" [(ngModel)]="password" name="password"/>
                    </mat-form-field>

                    <button mat-button color="white" class="google-login-btn" (click)="googleLogin()">Login with Google</button>
                    <button mat-button class="login-btn" (click)="onLoginSubmit()">Login</button>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <form class="register-form">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Enter your username" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" type="password" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm your password" type="password" />
                    </mat-form-field>

                    <button mat-button color="white" class="register-btn" (click)="onRegisterSubmit()">Register</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
